<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>

<form method="post">
    <label for="username">Username </label>
    <input type = "text" id = "username" name = "username">

    <br>
    <label for="pwd">Password </label>
    <input type = "password" id="pwd" name = "password">
    <br>
    <input id="remember" name="remember" type="checkbox">
    <label for="remember">Remember me </label>
    <br>
    <input type="button" value="submit"
           onclick="window.location.href='http://localhost:8000/helper'" />

</form>

</body>

<script>

</script>

</html>